src/*.vpj
src/*.vpw
src/*.vpwhist
src/*.vtg
src/*.pyc
src/libs/*.pyc
src/config/*.pyc
src/core/*.pyc
src/disassembler/*.pyc
src/disassembler/IDA/*.pyc

/build/*
/dist/*
/Karta.egg-info/*

docs/_build/*
docs/_build/*/*
docs/_build/*/*/*
docs/_build/*/*/*/*
docs/_static/*
docs/_templates/*
/*.pyc
/*/*.pyc
/*/*/*.pyc
/*/*/*/*.pyc
/src/thumbs_up/analyzers/__pycache__/*.pyc
/src/*/*/__pycache__/*.pyc
/src/*/*/__pycache__/*.pyc
